<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-清诚工具</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <!-- <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/admin.js"></script>
    <script type='text/javascript' src="/static/lib/template-web.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
        <form action="" method="post" class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label for="name" class="layui-form-label">
                        <span class="x-red">*</span>权限名称
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="name" required="" lay-verify="required"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">
                        路由配置列表
                    </label>
                    <table  class="layui-table layui-input-block">
                        <tbody class="authList">
                           
                        </tbody>
                    </table>
                </div>
                <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">
                            所属分类
                        </label>
                        <table  class="layui-table layui-input-block">
                            <tbody> 
                                    <tr>
                                        <td>
                                            <div class="layui-input-block cateList">
                                                
                                            </div>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                <div class="layui-form-item layui-form-text">
                    <label for="desc" class="layui-form-label">
                        描述
                    </label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" id="desc" name="remark" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" lay-filter="edit">修改</button>
              </div>
            </form>
    </div>
  </body>
  <script type="text/html" id="authList">
    {{each authList item index}}
        {{if item.controller.api.length > 0}}
            <tr>
                <td style="width:160px;">
                    {{item.controller.key}}
                </td>
                <td>
                    {{if item.controller.api.length > 0}}
                    <div class="layui-input-block">
                        {{each item.controller.api apiItem apiIdx}}
                        <input name="rule" lay-skin="primary" type="checkbox" title="{{apiItem.desc}}" alt="{{apiItem.path}}" value="{{apiItem.path}}">
                        {{/each}}
                    </div>
                    {{/if}}
                </td>
            </tr>
        {{/if}}
    {{/each}}
  </script>
  <script>
        layui.use('authEdit')
    </script>
</html>