<div class="layui-row searchTools">
    <form class="layui-form layui-col-md12 x-so" method="GET">
      <input class="layui-input" placeholder="开始日" name="start" id="start">
      <input class="layui-input" placeholder="截止日" name="end" id="end">
      <input type="text" name="match"  placeholder="全局模糊匹配" autocomplete="off" class="layui-input">
      <button class="layui-btn" id="formSearch" lay-submit lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
    </form>
  </div>
  <xblock class="tools">
    <button class="layui-btn layui-btn-danger layui-disabled layui-bg-gray" disabled id="delAll"><i class="layui-icon"></i>批量删除</button>
    <button class="layui-btn layui-disabled layui-bg-gray" disabled lay-filter="add"><i class="layui-icon"></i>添加</button>
    <span class="x-right" style="line-height:40px"></span>
  </xblock>
  <table class="layui-table" class="layui-table" id="table" lay-filter="giftList">
   
  </table>
</div>
  <!-- layui的模版引擎，不好用,有问题-->
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    {{if account && account.is_admin }}
      <button class="layui-btn layui-btn-warm layui-btn-xs"  lay-event='edit' ><i class="layui-icon">&#xe642;</i>编辑</button>
      <button class="layui-btn layui-btn layui-btn-xs"  lay-event='delete' ><i class="layui-icon">&#xe640;</i>删除</button>
    {{ else }}
    <button class="layui-btn layui-btn-warm layui-btn-xs layui-disabled layui-bg-gray"><i class="layui-icon">&#xe642;</i>编辑</button>
    <button class="layui-btn layui-btn layui-btn-xs layui-disabled layui-bg-gray"><i class="layui-icon">&#xe640;</i>删除</button>
    {{ /if }}
  </div>
</script>
<script>
    layui.use('giftList')
</script>